<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="fragment-script">
    <script th:src="@{/js/libs/jquery/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap_5.02/bootstrap.bundle.min.js}"></script>
    <!-- Date_range_picker -->
    <script th:src="@{/js/libs/bootstrap_5.02/moment.min.js}"></script>
    <script th:src="@{/js/libs/bootstrap_5.02/daterangepicker.js}"></script>
    <!-- echarts -->
    <script th:src="@{/js/libs/echart-5.1.2/echarts.min.js}"></script>
    <!-- common JS -->
    <script th:src="@{/js/corpcard/common.js}"></script>
    <script>
    $(function () {
      if(!window.location.href.includes("/viewLogin") &&
        !window.location.href.includes("/login_proc")){
        $cmmn.paintUserInfo();
      }
    });

    </script>
</th:block>
</html>