<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/header.html :: fragment-header">
</head>
<body>
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
				<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
					<div class="text-center my-5">
						<h1 class="mb-0">부동산 중개 플랫폼</h1>
					</div>
					<div class="card shadow-lg">
						<div class="card-body p-5">
							<div th:if="${errorMsg != null}" th:text="${errorMsg}"
								class="alert alert-danger" role="alert"></div>
							<form method="POST" th:action="@{/login_proc}"
								class="needs-validation">
								<div class="mb-3">
									<label class="mb-2 text-muted" for="userId">아이디</label> <input
										id="userId" type="text" class="form-control" name="userId"
										required="required" autofocus>
								</div>
								<div class="mb-3">
									<div class="mb-2 w-100">
										<label class="text-muted" for="userPw">비밀번호</label>
									</div>
									<input id="userPw" type="password" class="form-control"
										name="userPw" aria-describedby="validationFeedback"
										autocomplete="off" required>
									<div th:if="${errorMsg != null}" th:text="${errorMsg}"
										id="validationFeedback" class="invalid-feedback"></div>
								</div>
								<div class="d-flex align-items-center">
									<div class="form-check">
										<input type="checkbox" name="checkId" id="checkId"
											class="form-check-input"> <label for="checkId"
											class="form-check-label">ID 저장</label>
									</div>
									<button type="button" id="addAuth"
										class="btn btn-primary ms-auto" data-bs-toggle="modal"
										data-bs-target="#addManagerModal">회원가입</button>
									<button type="submit" class="btn btn-primary ms-auto">
										Login</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Modal -->
	<div class="modal fade" id="addManagerModal" tabindex="-1"
		aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">회원가입</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="table-responsive-xxl">
						<table id="addManagerTable"
							class="text-center table align-middle table-style1">
							<tbody>
								<tr>
									<th scope="col" style="width: 30%;">이름</th>
									<td colspan='2'><input type="text" style="width: 100%"
										id="signNm" /></td>
									<td></td>
								</tr>
								<tr>
									<th scope="col" style="width: 30%;">아이디</th>
									<td><input type="text" style="width: 100%" id="signId" /></td>
									<td><button class="btn btn-success" id="idChkBtn"
											onclick="$login.chkId()">중복확인</button></td>
								</tr>
								<tr>
									<th scope="col" style="width: 30%;">비밀번호</th>
									<td colspan='2'><input type="password" style="width: 100%"
										id="signPw" onchange="$login.chkPw()" /></td>
								</tr>
								<tr>
									<th scope="col" style="width: 30%;">비밀번호확인</th>
									<td style="width: 35%;"><input type="password"
										style="width: 100%" id="checkPw" onchange="$login.chkPw()" /></td>
									<td style="width: 35%;"><span id="checkPwSpan"></span></td>
								</tr>
								<tr>
									<th scope="col" style="width: 30%;">휴대폰번호</th>
									<td colspan='2'><input type="text" style="width: 100%"
										id="signPhoneNum" /></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="modalAddBtn" class="btn btn-primary"
						onclick="$login.sign()">가입</button>
					<button type="button" id="modalCloseBtn" class="btn btn-secondary"
						data-bs-dismiss="modal">닫기</button>
				</div>
			</div>
		</div>
	</div>
	<script th:replace="/fragments/script.html :: fragment-script"></script>
	<script type="text/javascript" th:src="@{/js/corpcard/login.js}"></script>
	<script>
		$(function() {
			$login.init();
		});
	</script>
</body>
</html>